# Built .jar packages
*.jar

# Compiled class files
*.class

# IntelliJ IDEA
out/
*.iml

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/vcs.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Input / output files
*.txt

